@attribute [BlazorView(IsForManualRegistrationOnly = true)]
@namespace PoeShared.Blazor.WinForms
@using PoeShared.Blazor.Wpf
@using System.Collections.Generic
@using System.Globalization
@using System.Linq
@using System.Reactive.Disposables
@using System.Windows
@using System.Windows.Media
@using PoeShared.Blazor.Scaffolding
@using ReactiveUI
@using PoeShared.Blazor
@using Microsoft.AspNetCore.Components.Forms
@using PoeShared.Blazor.WinForms.Services
@using PoeShared.Scaffolding
@inherits BlazorReactiveComponent<IBlazorWindow>

<table class="table table-dark table-striped table-sm">
    <colgroup>
        <col style="width: auto; min-width: 7em;">
        <col style="width: 100%;">
    </colgroup>
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>
            <span class="debug-table-header">Title</span>
        </td>
        <td>
            <ReactiveSection
                Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Title)))">
                <InputText type="text" class="form-control" placeholder="name..."
                           @bind-Value="@DataContext.Title"/>
            </ReactiveSection>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Commands</span>
        </td>
        <td>
            <span class="d-flex gap-1">
                <span class="p-1 py-2 border border-1"
                      @onmousedown="StartDrag">
                    Drag
                </span>
                <button class="btn btn-secondary p-0 m-0 px-2"
                        @onclick="@(() => DataContext.Show())">
                    Show
                </button>
                <button class="btn btn-secondary p-0 m-0 px-2"
                        @onclick="@(() => DataContext.Activate())">
                    Activate
                </button>
                <button class="btn btn-secondary p-0 m-0 px-3"
                        @onclick="@(() => BlazorContentHostAccessor.Control.OpenDevToolsCommand.ExecuteAsync())">
                    DevTools
                </button>
                <span class="vr"></span>
                <button class="btn btn-secondary p-0 m-0 px-1"
                        @onclick="@(() => DataContext.Hide())">
                    Hide
                </button>
                <button class="btn btn-secondary p-0 m-0 px-1"
                        @onclick="@(() => DataContext.Close())">
                    Close
                </button>
                <button class="btn btn-secondary p-0 m-0 px-1"
                        @onclick="@(() => DataContext.Dispose())">
                    Dispose
                </button>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Size</span>
        </td>
        <td>
            <span class="d-flex gap-3">
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Left)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Left:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Left = intValue;
                                        }
                                    })">
                </ReactiveSection>

                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Top)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Top:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Top = intValue;
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Width)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Width:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Width = intValue;
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Height)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Height:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Height = intValue;
                                        }
                                    })">
                </ReactiveSection>
            </span>

        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Min Size</span>
        </td>
        <td>
            <span class="d-flex gap-1">
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.MinWidth)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.MinWidth:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.MinWidth = intValue;
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.MinHeight)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.MinHeight:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.MinHeight = intValue;
                                        }
                                    })">
                </ReactiveSection>
            </span>

        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Max Size</span>
        </td>
        <td>
            <span class="d-flex gap-1">
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.MaxWidth)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.MaxWidth:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.MaxWidth = intValue;
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.MaxHeight)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.MaxHeight:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.MaxHeight = intValue;
                                        }
                                    })">
                </ReactiveSection>
            </span>

        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Startup</span>
        </td>
        <td>
            <ReactiveSection
                Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.WindowStartupLocation)))">
                <select class="form-select"
                        value="@DataContext.WindowStartupLocation.ToString()"
                        @onchange="HandleWindowStartupLocationChanged">
                    @foreach (var startupLocation in WindowStartupLocations)
                    {
                        <option value="@startupLocation.ToString()">@startupLocation</option>
                    }
                </select>
            </ReactiveSection>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Title Bar</span>
        </td>
        <td>
            <span class="d-flex gap-1">
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.TitleBarDisplayMode)))">
                    <button class="btn btn-secondary p-0 m-0 px-1 rounded-0"
                            disabled="@(DataContext.TitleBarDisplayMode == TitleBarDisplayMode.Default)"
                            @onclick="@(() => DataContext.TitleBarDisplayMode = TitleBarDisplayMode.Default)">
                        Default
                    </button>
                    <button class="btn btn-secondary p-0 m-0 px-1 rounded-0"
                            disabled="@(DataContext.TitleBarDisplayMode == TitleBarDisplayMode.System)"
                            @onclick="@(() => DataContext.TitleBarDisplayMode = TitleBarDisplayMode.System)">
                        System
                    </button>
                    <button class="btn btn-secondary p-0 m-0 px-1 rounded-0"
                            disabled="@(DataContext.TitleBarDisplayMode == TitleBarDisplayMode.Custom)"
                            @onclick="@(() => DataContext.TitleBarDisplayMode = TitleBarDisplayMode.Custom)">
                        Custom
                    </button>
                    <button class="btn btn-secondary p-0 m-0 px-1 rounded-0"
                            disabled="@(DataContext.TitleBarDisplayMode == TitleBarDisplayMode.None)"
                            @onclick="@(() => DataContext.TitleBarDisplayMode = TitleBarDisplayMode.None)">
                        None
                    </button>
                </ReactiveSection>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Transparency</span>
        </td>
        <td>
            <ReactiveSection
                Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.AllowsTransparency)))">
                <span class="d-flex gap-3 align-items-center flex-wrap">
                    <span class="d-flex gap-1">
                        <input id="AllowsTransparency" type="checkbox"
                               @bind="DataContext.AllowsTransparency"
                               @bind:event="oninput"/>
                        <label for="AllowsTransparency" class="rcb-label">
                            AllowsTransparency
                        </label>
                    </span>
                    <span class="text-muted small">
                        Creation-time only. Changes are rejected after the native window is created.
                    </span>
                </span>
            </ReactiveSection>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Window State</span>
        </td>
        <td>
            <ReactiveSection
                Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.WindowState)))">
                <span class="d-flex gap-1">
                    <button class="btn btn-secondary p-0 m-0 px-2 rounded-0"
                            disabled="@(DataContext.WindowState == WindowState.Normal)"
                            @onclick="@(() => DataContext.WindowState = WindowState.Normal)">
                        Normal
                    </button>
                    <button class="btn btn-secondary p-0 m-0 px-2 rounded-0"
                            disabled="@(DataContext.WindowState == WindowState.Minimized)"
                            @onclick="@(() => DataContext.WindowState = WindowState.Minimized)">
                        Minimized
                    </button>
                    <button class="btn btn-secondary p-0 m-0 px-2 rounded-0"
                            disabled="@(DataContext.WindowState == WindowState.Maximized)"
                            @onclick="@(() => DataContext.WindowState = WindowState.Maximized)">
                        Maximized
                    </button>
                </span>
            </ReactiveSection>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Resize Mode</span>
        </td>
        <td>
            <ReactiveSection
                Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.ResizeMode)))">
                <select class="form-select"
                        value="@DataContext.ResizeMode.ToString()"
                        @onchange="HandleResizeModeChanged">
                    @foreach (var resizeMode in ResizeModes)
                    {
                        <option value="@resizeMode.ToString()">@resizeMode</option>
                    }
                </select>
            </ReactiveSection>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Caption Buttons</span>
        </td>
        <td>
            <span class="d-flex gap-4 flex-wrap">
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.ShowMinButton)))">
                    <span class="d-flex gap-1">
                        <input id="ShowMinButton" type="checkbox"
                               @bind="DataContext.ShowMinButton"
                               disabled="@(DataContext.TitleBarDisplayMode == TitleBarDisplayMode.System)"
                               @bind:event="oninput"/>
                        <label for="ShowMinButton" class="rcb-label">
                            Min
                        </label>
                    </span>
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.ShowMaxButton)))">
                    <span class="d-flex gap-1">
                        <input id="ShowMaxButton" type="checkbox"
                               @bind="DataContext.ShowMaxButton"
                               disabled="@(DataContext.TitleBarDisplayMode == TitleBarDisplayMode.System)"
                               @bind:event="oninput"/>
                        <label for="ShowMaxButton" class="rcb-label">
                            Max
                        </label>
                    </span>
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.ShowCloseButton)))">
                    <span class="d-flex gap-1">
                        <input id="ShowCloseButton" type="checkbox"
                               @bind="DataContext.ShowCloseButton"
                               disabled="@(DataContext.TitleBarDisplayMode == TitleBarDisplayMode.System)"
                               @bind:event="oninput"/>
                        <label for="ShowCloseButton" class="rcb-label">
                            Close
                        </label>
                    </span>
                </ReactiveSection>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Opacity</span>
        </td>
        <td>
            <span class="d-flex gap-1">
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Opacity)))">
                    <input type="number"
                           class="form-control"
                           min="0"
                           max="1"
                           step="0.01"
                           value="@($"{DataContext.Opacity:F2}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && double.TryParse(stringValue, out var doubleValue))
                                        {
                                            DataContext.Opacity = doubleValue;
                                        }
                                    })">
                </ReactiveSection>
            </span>

        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Background</span>
        </td>
        <td>
            <ReactiveSection
                Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.BackgroundColor)))">
                <span class="d-flex gap-2 align-items-center">
                    <span class="border rounded" style="@BuildColorPreviewStyle(DataContext.BackgroundColor)"></span>
                    <select class="form-select"
                            value="@GetColorOptionKey(DataContext.BackgroundColor, BackgroundColorOptions)"
                            @onchange="HandleBackgroundColorChanged">
                        @foreach (var colorOption in BackgroundColorOptions)
                        {
                            <option value="@colorOption.Key">@colorOption.Label</option>
                        }
                    </select>
                </span>
            </ReactiveSection>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Border Color</span>
        </td>
        <td>
            <ReactiveSection
                Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.BorderColor)))">
                <span class="d-flex gap-2 align-items-center">
                    <span class="border rounded" style="@BuildColorPreviewStyle(DataContext.BorderColor)"></span>
                    <select class="form-select"
                            value="@GetColorOptionKey(DataContext.BorderColor, BorderColorOptions)"
                            @onchange="HandleBorderColorChanged">
                        @foreach (var colorOption in BorderColorOptions)
                        {
                            <option value="@colorOption.Key">@colorOption.Label</option>
                        }
                    </select>
                </span>
            </ReactiveSection>
        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Border Thickness</span>
        </td>
        <td>
            <span class="d-flex gap-1">
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.BorderThickness)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.BorderThickness.Left:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.BorderThickness = DataContext.BorderThickness with {Left = intValue};
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.BorderThickness)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.BorderThickness.Top:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.BorderThickness = DataContext.BorderThickness with {Top = intValue};
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.BorderThickness)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.BorderThickness.Right:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.BorderThickness = DataContext.BorderThickness with {Right = intValue};
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.BorderThickness)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.BorderThickness.Bottom:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.BorderThickness = DataContext.BorderThickness with {Bottom = intValue};
                                        }
                                    })">
                </ReactiveSection>
            </span>

        </td>
    </tr>
    <tr>
        <td>
            <span class="debug-table-header">Padding</span>
        </td>
        <td>
            <span class="d-flex gap-1">
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Padding)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Padding.Left:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Padding = DataContext.Padding with {Left = intValue};
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Padding)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Padding.Top:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Padding = DataContext.Padding with {Top = intValue};
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Padding)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Padding.Right:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Padding = DataContext.Padding with {Right = intValue};
                                        }
                                    })">
                </ReactiveSection>
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Padding)))">
                    <input type="number"
                           class="form-control"
                           value="@($"{DataContext.Padding.Bottom:F0}")"
                           oninput="@((ChangeEventArgs x) =>
                                    {
                                        if (x.Value is string stringValue && int.TryParse(stringValue, out var intValue))
                                        {
                                            DataContext.Padding = DataContext.Padding with {Bottom = intValue};
                                        }
                                    })">
                </ReactiveSection>
            </span>

        </td>
    </tr>
    <tr>
        <td>Flags</td>
        <td>
            <span class="d-flex gap-5">
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.ShowInTaskbar)))">
                    <span class="d-flex gap-1">
                        <input id="ShowInTaskbar" type="checkbox"
                               @bind="DataContext.ShowInTaskbar"
                               @bind:event="oninput"/>
                        <label for="ShowInTaskbar" class="rcb-label">
                            ShowInTaskbar
                        </label>
                    </span>
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.IsVisible)))">
                    <span class="d-flex gap-1">
                        <input id="IsVisible" type="checkbox"
                               @bind="DataContext.IsVisible"
                               @bind:event="oninput"/>
                        <label for="IsVisible" class="rcb-label">
                            Visible
                        </label>
                    </span>
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.IsClickThrough)))">
                    <span class="d-flex gap-1">
                        <input id="IsClickThrough" type="checkbox"
                               @bind="DataContext.IsClickThrough"
                               @bind:event="oninput"/>
                        <label for="IsClickThrough" class="rcb-label">
                            IsClickThrough
                        </label>
                    </span>
                </ReactiveSection>
                <ReactiveSection Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.Topmost)))">
                    <span class="d-flex gap-1">
                        <input id="Topmost" type="checkbox"
                               @bind="DataContext.Topmost"
                               @bind:event="oninput"/>
                        <label for="Topmost" class="rcb-label">
                            Topmost
                        </label>
                    </span>
                </ReactiveSection>
                <ReactiveSection
                    Trackers="@(new ReactiveTrackerList().With(DataContext.WhenAnyValue(x => x.NoActivate)))">
                    <span class="d-flex gap-1">
                        <input id="NoActivate" type="checkbox"
                               @bind="DataContext.NoActivate"
                               @bind:event="oninput"/>
                        <label for="NoActivate" class="rcb-label">
                            No Activate
                        </label>
                    </span>
                </ReactiveSection>
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <span class="w-100 d-flex">
                <span class="flex-grow-1"></span>
                <button class="btn btn-success p-0 m-0 px-5"
                        disabled="@(DataContext.IsDebugMode == false)"
                        @onclick="@(() => DataContext.IsDebugMode = false)">
                    Exit debug mode
                </button>
            </span>
        </td>
    </tr>
    </tbody>
</table>


@code {
    private static readonly ResizeMode[] ResizeModes = Enum.GetValues<ResizeMode>();
    private static readonly WindowStartupLocation[] WindowStartupLocations = Enum.GetValues<WindowStartupLocation>();
    private static readonly IReadOnlyList<ColorOption> BackgroundColorOptions = new[]
    {
        new ColorOption("window-default", "Window Default", Color.FromArgb(0xFF, 0x42, 0x42, 0x42)),
        new ColorOption("transparent", "Transparent", Colors.Transparent),
        new ColorOption("primary", "Primary", Color.FromRgb(0x0D, 0x6E, 0xFD)),
        new ColorOption("secondary", "Secondary", Color.FromRgb(0x6C, 0x75, 0x7D)),
        new ColorOption("success", "Success", Color.FromRgb(0x19, 0x87, 0x54)),
        new ColorOption("danger", "Danger", Color.FromRgb(0xDC, 0x35, 0x45)),
        new ColorOption("warning", "Warning", Color.FromRgb(0xFF, 0xC1, 0x07)),
        new ColorOption("info", "Info", Color.FromRgb(0x0D, 0xCA, 0xF0)),
        new ColorOption("light", "Light", Color.FromRgb(0xF8, 0xF9, 0xFA)),
        new ColorOption("dark", "Dark", Color.FromRgb(0x21, 0x25, 0x29)),
        new ColorOption("white", "White", Colors.White),
        new ColorOption("black", "Black", Colors.Black),
    };

    private static readonly IReadOnlyList<ColorOption> BorderColorOptions = new[]
    {
        new ColorOption("transparent", "Transparent", Colors.Transparent),
        new ColorOption("primary", "Primary", Color.FromRgb(0x0D, 0x6E, 0xFD)),
        new ColorOption("secondary", "Secondary", Color.FromRgb(0x6C, 0x75, 0x7D)),
        new ColorOption("success", "Success", Color.FromRgb(0x19, 0x87, 0x54)),
        new ColorOption("danger", "Danger", Color.FromRgb(0xDC, 0x35, 0x45)),
        new ColorOption("warning", "Warning", Color.FromRgb(0xFF, 0xC1, 0x07)),
        new ColorOption("info", "Info", Color.FromRgb(0x0D, 0xCA, 0xF0)),
        new ColorOption("light", "Light", Color.FromRgb(0xF8, 0xF9, 0xFA)),
        new ColorOption("dark", "Dark", Color.FromRgb(0x21, 0x25, 0x29)),
        new ColorOption("white", "White", Colors.White),
        new ColorOption("black", "Black", Colors.Black),
    };

    private readonly SerialDisposable dragAnchor;

    [Inject] public IBlazorContentHostAccessor BlazorContentHostAccessor { get; init; }

    public BlazorWindowDebugPanel()
    {
        dragAnchor = new SerialDisposable().AddTo(Anchors);
    }

    private void StartDrag()
    {
        dragAnchor.Disposable = new CompositeDisposable()
        {
            Disposable.Create(() => { }),
            DataContext.EnableDragMove()
        };
    }

    private void HandleResizeModeChanged(ChangeEventArgs args)
    {
        if (TryGetEnumValue<ResizeMode>(args.Value, out var resizeMode))
        {
            DataContext.ResizeMode = resizeMode;
        }
    }

    private void HandleWindowStartupLocationChanged(ChangeEventArgs args)
    {
        if (TryGetEnumValue<WindowStartupLocation>(args.Value, out var startupLocation))
        {
            DataContext.WindowStartupLocation = startupLocation;
        }
    }

    private void HandleBackgroundColorChanged(ChangeEventArgs args)
    {
        if (TryGetColorOption(args.Value, BackgroundColorOptions, out var color))
        {
            DataContext.BackgroundColor = color;
        }
    }

    private void HandleBorderColorChanged(ChangeEventArgs args)
    {
        if (TryGetColorOption(args.Value, BorderColorOptions, out var color))
        {
            DataContext.BorderColor = color;
        }
    }

    private static bool TryGetEnumValue<TEnum>(object value, out TEnum parsedValue) where TEnum : struct, Enum
    {
        parsedValue = default;
        return value is string stringValue && Enum.TryParse<TEnum>(stringValue, ignoreCase: true, out parsedValue);
    }

    private static bool TryGetColorOption(object value, IReadOnlyList<ColorOption> options, out Color color)
    {
        var option = options.FirstOrDefault(x => x.Key == value as string);
        if (option == null)
        {
            color = default;
            return false;
        }

        color = option.Color;
        return true;
    }

    private static string GetColorOptionKey(Color color, IReadOnlyList<ColorOption> options)
    {
        return options.FirstOrDefault(x => x.Color == color)?.Key ?? options[0].Key;
    }

    private static string BuildColorPreviewStyle(Color color)
    {
        return $"width: 1.5rem; height: 1.5rem; background-color: {ToCssColor(color)};";
    }

    private static string ToCssColor(Color color)
    {
        var alpha = (color.A / 255d).ToString("0.###", CultureInfo.InvariantCulture);
        return $"rgba({color.R}, {color.G}, {color.B}, {alpha})";
    }

    private sealed record ColorOption(string Key, string Label, Color Color);
}
