@namespace PoeShared.Blazor.Controls
@using System.Globalization
@inherits PoeShared.Blazor.BlazorReactiveComponent<TimelineEntry>

<ReactiveSection Trackers="@(new() {DataContext.WhenAnyValue(x => x.IsBusy, x => x.Timestamp)})">
    <TimelineItem Class="@Track(x => x.IsBusy ? "ant-timeline-item-pending" : "")"
                  Label="@Track(x => x.Timestamp == null ? "" : x.Timestamp.Value.ToString("HH:mm:ss", CultureInfo.InvariantCulture))">
        <div>
            <BlazorContentPresenter Content="@DataContext"/>
        </div>

        <ReactiveSection Trackers="@(new() {DataContext.Images})">
            @if (DataContext.Images.Count > 0)
            {
                <div class="d-flex">
                    @foreach (var imageData in DataContext.Images.Items)
                    {
                        <Image Src="@imageData.ToLocalFileUri().AbsoluteUri" Height="64" Class="mx-1"/>
                    }
                </div>
            }
        </ReactiveSection>
    </TimelineItem>
</ReactiveSection>