@inherits PoeShared.Blazor.BlazorReactiveComponent

<div class="@Class" style="@Style">
    <div class="r-expander-header" >
        <ReactiveButton Class="btn border-0 d-flex gap-3 align-items-center" Command="ToggleIsExpanded">
            <i class="fa-solid @(currentIsExpanded ? "fa-angle-down" : "fa-angle-right")"></i>

            <ReactiveSection Trackers="@(new ReactiveTrackerList().With(this.WhenAnyValue(x => x.Title, x => x.TitleContent)))">
                @if (TitleContent != null)
                {
                    @TitleContent
                }
                else @if (!string.IsNullOrEmpty(Title))
                {
                    <strong>@Title</strong>
                }
            </ReactiveSection>
        </ReactiveButton>

        <hr class="flex-grow-1"/>
        <ReactiveSection Trackers="@(new ReactiveTrackerList().With(this.WhenAnyValue(x => x.TailContent)))">
            @if (TailContent != null)
            {
                @TailContent
            }
        </ReactiveSection>
    </div>

    <div id="@Id" class="r-expander-content">
        @if (currentIsExpanded)
        {
            @ChildContent
        }
    </div>
</div>

@code {
    [Parameter] public bool IsExpanded { get; set; } = true;
    [Parameter] public EventCallback<bool> IsExpandedChanged { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public RenderFragment? TitleContent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? TailContent { get; set; }

    private bool currentIsExpanded;
    private bool hasReceivedIsExpanded;
    private bool lastReceivedIsExpanded;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Id = $"reactive-expander-container-{ComponentId}";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (!hasReceivedIsExpanded || IsExpanded != lastReceivedIsExpanded)
        {
            currentIsExpanded = IsExpanded;
            lastReceivedIsExpanded = IsExpanded;
            hasReceivedIsExpanded = true;
        }
    }

    private async Task ToggleIsExpanded()
    {
        currentIsExpanded = !currentIsExpanded;

        if (IsExpandedChanged.HasDelegate)
        {
            await IsExpandedChanged.InvokeAsync(currentIsExpanded);
        }
    }

}
