@inherits PoeShared.Blazor.BlazorReactiveComponent

<span id="@Id" class="@(new CssBuilder("rcb-container").AddClass(Class))">
    <input type="checkbox"
           id="@ComponentId"
           disabled="@Disabled"
           @bind:get="@IsChecked"
           @bind:set="@HandleCheckedChanged"
           @bind:event="oninput"/>
    <label for="@ComponentId"
           class="rcb-label">
        @ChildContent
    </label>
</span>

