@inherits PoeShared.Blazor.BlazorReactiveComponent

<span class="@(new CssBuilder("rcb-container").AddClass(Class))">
    <input type="checkbox"
           id="@Id"
           disabled="@Disabled"
           @bind:get="@IsChecked"
           @bind:set="@HandleCheckedChanged"
           @bind:event="oninput"/>
    <label for="@Id"
           class="rcb-label">
        @ChildContent
    </label>
</span>

