@namespace PoeShared.Blazor.Controls
@inherits BlazorReactiveComponent
@typeparam TItem

<div class="@($"{classMapper.Class} {Class}")" style="@Style" @ref="Ref" id="@Id"
     @oncontextmenu="@(EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(HandleContextMenu))" 
     @oncontextmenu:preventDefault="@OnContextMenu.HasDelegate"
     @ondrop="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleOnDrop))" @ondrop:preventDefault
     @ondragenter="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleDragEnter))"
     @ondragover="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleDragOver))" 
     >
    <div class="ant-tree-list">
        <div class="ant-tree-list-holder-inner">
            <CascadingValue Value="this" Name="Tree" IsFixed="@true">
                @if (DataSource != null)
                {
                    foreach (var item in DataSource)
                    {
                        <TreeViewNode DataItem="@item" @key="item.GetHashCode()"></TreeViewNode>
                    }
                }
                else if (ChildContent != null)
                {
                    @ChildContent
                }
                else
                {
                    @Nodes
                }
            </CascadingValue>
        </div>
    </div>
</div>