@namespace PoeShared.Blazor.Controls
@inherits BlazorReactiveComponent
@typeparam TItem

@{
}

<CascadingValue Value="@this" Name="SelfNode">
    <div @key="@($"tv-node-{NodeId}")"
         @ref="@ElementRef"
         class="@Class"
         style="@Style">

        <TreeViewIndent @key="@($"tv-node-indent-{NodeId}")" TreeLevel="@TreeLevel" TItem="TItem"></TreeViewIndent>
        <TreeViewNodeSwitcher @key="@($"tv-node-switcher-{NodeId}")" OnSwitcherClick="@OnSwitcherClick" TItem="TItem"></TreeViewNodeSwitcher>
        <TreeViewNodeTitle @key="@($"tv-node-title-{NodeId}")" TItem="TItem"></TreeViewNodeTitle>
    </div>
</CascadingValue>

<CascadingValue Value="@this" Name="Node">
    @if (DataItem != null && ChildContent == null)
    {
        foreach (var item in ChildDataItems)
        {
            <TreeViewNode DataItem="@item" @key="@($"tv-node-{NodeId}-child-{item?.GetHashCode()}")"></TreeViewNode>
        }
    }
    else if (ChildContent != null)
    {
        @ChildContent
    }
</CascadingValue>