@namespace PoeShared.Blazor.Controls
@inherits BlazorReactiveComponent
@typeparam TItem

<div class="@($"{classMapper.Class} {Class}")" tabindex="0" style="@Style" @ref="@ElementRef" id="@Id"
     @oncontextmenu="@(EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(HandleContextMenu))" @oncontextmenu:preventDefault="@OnContextMenu.HasDelegate"
     @onkeydown="EventUtil.AsNonRenderingEventHandler<KeyboardEventArgs>(HandleKeyDown)" @onkeydown:stopPropagation="false" 
     @ondrop="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleOnDrop))" @ondrop:preventDefault
     @ondragend="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleDragEnd))" @ondragend:preventDefault
     @ondragenter="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleDragEnter))"
     @ondragover="@(EventUtil.AsNonRenderingEventHandler<DragEventArgs>(HandleDragOver))"
     @onmouseleave="@(EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(HandleMouseLeave))"
>
    <div class="ant-tree-list">
        <div class="ant-tree-list-holder-inner">
            <CascadingValue Value="this" Name="Tree" IsFixed="@true">
                @if (DataSource != null && ChildContent == null)
                {
                    foreach (var item in DataSource)
                    {
                        <TreeViewNode DataItem="@item" @key="item.GetHashCode()"></TreeViewNode>
                    }
                }
                else if (ChildContent != null)
                {
                    @ChildContent
                }
            </CascadingValue>
        </div>
    </div>
</div>