@namespace PoeShared.Blazor.Wpf
@using System.Reactive.Disposables
@using System.Windows.Input
@using PoeShared.Blazor
@using PoeShared.Blazor.Scaffolding
@using PoeShared.Blazor.Wpf.Services
@using PoeShared.Scaffolding
@using ReactiveUI
@inherits BlazorReactiveComponent<IBlazorWindow>

<HeadContent>
    <link href="_content/PoeShared.Blazor.Wpf/PoeShared.Blazor.Wpf.bundle.scp.css" rel="stylesheet"/>
    <link href="_content/PoeShared.Blazor.Wpf/css/blazor-window.css" rel="stylesheet"/>
</HeadContent>

<div id="@(IBlazorWindow.WindowBody)" class="overflow-auto h-100" style="@BlazorWindowCssUtils.BuildSystemCornerRadiusStyle(DataContext)">
    @if (DataContext.Anchors.IsDisposed)
    {
        <div class="d-grid-center">
            <div class="spinner-border"></div>
            Disposed
        </div>
    }
    else if (DataContext.IsDebugMode)
    {
        <div style="max-width: 30em;">
            <BlazorWindowDebugPanel DataContext="@DataContext"/>
        </div>
    }
    else
    {
        <BlazorContentPresenter
            @ref="@ContentPresenter"
            Content="@(DataContext.DataContext)"
            ViewType="@(DataContext.ViewType)">
        </BlazorContentPresenter>
    }
</div>

@code {
    public BlazorWindowContentBody()
    {
        Anchors.Add(() => ContentPresenter = null);

        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.IsDebugMode));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.DataContext));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.ViewType));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.TitleBarDisplayMode));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.WindowState));

        this.WhenAnyValue(x => x.ContentPresenter)
            .WithPrevious()
            .Subscribe(x =>
            {
                if (x.Previous is IDisposable disposableView)
                {
                    disposableView.Dispose();
                }
            })
            .AddTo(Anchors);
    }

    [Inject] public IBlazorContentControlAccessor BlazorContentControlAccessor { get; init; }

    public BlazorContentPresenter ContentPresenter { get; private set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataContext.WhenPreviewKeyDown
            .SubscribeAsync(async x =>
            {
                if (x.Key == Key.F8)
                {
                    DataContext.IsDebugMode = !DataContext.IsDebugMode;
                    x.Handled = true;
                }
                else if (x.Key == Key.F12)
                {
                    await BlazorContentControlAccessor.Control.OpenDevTools();
                    x.Handled = true;
                }
            })
            .AddTo(Anchors);
    }
}
