@namespace PoeShared.Blazor.Wpf
@using System.Collections.Generic
@using System.Reactive.Disposables
@using System.Windows.Input
@using PoeShared.Blazor
@using PoeShared.Blazor.Scaffolding
@using PoeShared.Blazor.Wpf.Automation
@using PoeShared.Blazor.Wpf.Services
@using PoeShared.Scaffolding
@using ReactiveUI
@inherits BlazorWindowContentBase<IBlazorWindow>

<div id="@(IBlazorWindow.WindowBody)"
     class="overflow-auto h-100"
     @attributes="GetBodyAutomationAttributes()"
     style="@BlazorWindowCssUtils.BuildSystemCornerRadiusStyle(DataContext, DataContext.TitleBarDisplayMode.ResolveForWpf())">
    @if (DataContext.Anchors.IsDisposed)
    {
        <div class="d-grid-center">
            <div class="spinner-border"></div>
            Disposed
        </div>
    }
    else if (DataContext.IsDebugMode)
    {
        <div style="max-width: 30em;">
            <BlazorWindowDebugPanel DataContext="@DataContext"/>
        </div>
    }
    else
    {
        <BlazorContentPresenter
            @ref="@ContentPresenter"
            Content="@(DataContext.DataContext)"
            ViewType="@(DataContext.ViewType)">
        </BlazorContentPresenter>
    }
</div>

@code {
    public BlazorWindowContentBody()
    {
        Anchors.Add(() => ContentPresenter = null);

        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.IsDebugMode));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.DataContext));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.ViewType));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.TitleBarDisplayMode));
        ChangeTrackers.Add(this.WhenAnyValue(x => x.DataContext.WindowState));

        this.WhenAnyValue(x => x.ContentPresenter)
            .WithPrevious()
            .Subscribe(x =>
            {
                if (x.Previous is IDisposable disposableView)
                {
                    disposableView.Dispose();
                }
            })
            .AddTo(Anchors);
    }

    [Inject] public IBlazorHostController BlazorHostController { get; init; }

    public BlazorContentPresenter ContentPresenter { get; private set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataContext.WhenPreviewKeyDown
            .SubscribeAsync(async x =>
            {
                if (x.Key == Key.F8)
                {
                    DataContext.IsDebugMode = !DataContext.IsDebugMode;
                    x.Handled = true;
                }
                else if (x.Key == Key.F12)
                {
                    await BlazorHostController.OpenDevTools();
                    x.Handled = true;
                }
            })
            .AddTo(Anchors);
    }

    private IReadOnlyDictionary<string, object> GetBodyAutomationAttributes()
    {
        var windowAutomationId = DataContext?.GetAutomationId();
        var viewRole = BlazorWindowViewRole.Body;
        var bodyAutomationId = DataContext?.GetViewAutomationId(viewRole);
        var dictionary = new Dictionary<string, object>(CreateAutomationAttributes(bodyAutomationId, DataContext?.DataContext));
        SetAutomationAttribute(dictionary, WellKnownAutomationIds.WindowIdAttribute, windowAutomationId);
        SetAutomationAttribute(dictionary, WellKnownAutomationIds.ViewIdAttribute, bodyAutomationId);
        SetAutomationAttribute(dictionary, WellKnownAutomationIds.ViewRoleAttribute, viewRole.ToAutomationSegment());
        return dictionary;
    }
}
